html{
    margin: 0;
    padding: 0;

}
body{
    background-color: #423e3e;
    display: flex;
    align-items: center;
    width: 100vh;

}
h2{
    margin: 0;
    padding: 8px;
}
.cont{
    width:375px;
    min-height: 200px;
    max-height: fit-content;
    background-color: #968c8c;
    border: 6px solid black;
    border-radius: 12px;
    margin: 20px;
}
.flex-cont{
    display: flex;
    
   width:375px;
    min-height: 200px;

}
.sqr{
    
    width: 40px;
    height: 40px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 6px;

}
.pastel1{
    background-color: rgba(255,0,0,0.3);
}
.pastel2{
    background-color: rgba(0,255,0,0.3);
}
.pastel3{
    background-color: rgba(16, 158, 201, 0.3);
}
.pastel4{
    background-color: rgba(228, 199, 36, 0.3);
}
.pastel5{
    background-color: rgba(236, 37, 220, 0.3);
}